# Ignore Git-related files and directories
.git
.gitignore

# Ignore Python bytecode files and directories
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv
env
*.venv

# Ignore test-related files and directories
tests/
test/
*.test.py

# Ignore build artifacts and package directories
build/
dist/
*.egg-info/

# Ignore log and temporary files
*.log
*.tmp
.tmp/

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

# Python environment extras
pyvenv.cfg
share/
bin/
Scripts/
Lib/

# Model related
Model/keypoint_classifier/model_training_output

# Data related
data_collected/